.dropdown-menu1 {
    border: none;
    display: block;
    transform: scale(1) !important;
    height: 0px;
    overflow: hidden;
    padding: 0px;
    top: 180px;
    transition: all 0.3s;
}
.dropdown:hover .dropdown-menu1 {
    display: contents;
    top: 100%;
    height: inherit;
}

/*Button Create data*/
.button-create {
    float: right;
    background-color: black !important;
    margin-bottom: 10px;
}

.button-create:hover {
    background-color: rgb(224, 224, 224) !important;
    color: black !important;
}

.i-create {
    padding-right: 7px;
}

.choose-file {
    border: 1px solid black;
    padding: 5px;
}

.choose-file:hover {
    cursor: pointer;
    border: 2px solid black;
}
